[Desktop Entry]
Name=Pomodone
Exec=/home/haitike/Downloads/PomoDoneApp-1.5.1545/pomodoneapp
Comment=
Terminal=false
Icon=emblem-urgent
Type=Application
